body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbbf24;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fbbf24;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}
