body {
  margin: 0;
  font-family: Inter, Helvetica, sans-serif;
  background-color: #0f172a; /* COR DO FUNDO */
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fbbf24; /* COR DO SOL(DA FORTE DO TITULO */
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #e5e7eb;
}


.btn-cta {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 36px;

  background-color: #facc15; /* cor do sol */
  color: #0f172a;            /* azul escuro */
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;

  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background-color: #fde047;
  transform: translateY(-3px);
}

